# ==========================
# PYTHON
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# VIRTUAL ENVIRONMENT
# ==========================
venv/

# ==========================
# PYINSTALLER
# ==========================
build/
dist/
*.spec

# ==========================
# DATABASE
# ==========================
db/attendance.db
db/attendance_old.db
*.db

# ==========================
# RUNTIME FOLDERS
# ==========================
UPLOADS/
BACKUPS/

# ==========================
# ARCHIVES / EXPORTS
# ==========================
*.zip

# ==========================
# IDE
# ==========================
.vscode/

# Executables
*.exe

# Distribution folders
Employee_Management_System/
